.tileWrapper {
    width: 420px;
    margin: 10px auto;
    padding: 0 10px 10px;
    background-color: white;
    box-shadow: 0px 4px 12px black;
    border-radius: 5px;
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
}

.tileWrapper__player:hover {
    opacity: 0.8;
}

.tileWrapper__descriptionBox {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.tileWrapper__button {
    background-color: rgb(0, 147, 167);
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.tileWrapper__button:hover {
    background-color: rgb(0, 147, 167);
    filter: brightness(110%);
}

.tileWrapper__button:active {
    filter: brightness(120%);
}